
$primary-font: "Montserrat", sans-serif;

$primary-white:white;
$primary-black:#191919;
$secondary-black:#161616;

$primary-red:#F55353;
$primary-blue:#4D77FF;
$primary-green:#019267;

$bars-length:30